<div class="container-fluid">
	<h1>The team of the Winterparadise</h1>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 offset-lg-1 offset-md-1">
      <figure id="tim">
        <img src="{{imgAbout1}}"  alt="">
        <figcaption>{{figcaption1}}</figcaption>
      </figure>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
    	<div class="iconContact">
    		<i class="fas fa-phone"></i>
    		<i class="fas fa-envelope"></i>
    		<i class="fab fa-facebook-square"></i>
    		<i class="fab fa-twitter-square"></i>
    	</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 ">
      <figure>
        <img src="{{imgAbout2}}" alt="">
        <figcaption id="denis">{{figcaption2}}</figcaption>
      </figure>
    </div>
  </div>
</div>
