<div class="divider">
	<p id="runningText"></p>
</div>
<div class="container-fluid card-wrapper" style="padding-top:40px;">
	<div class="row">
		<div class="col-lg-4 offset-lg-2">
			<div class="card">
				<div class="discount">
					<p>{{discount1}}{{percent}}</p>
				</div>
				<button class="btn btn-primary btn-book">{{btnText}}</button>
				<div class="img-card"><img src="https://images.unsplash.com/photo-1518474008398-a2503ce27d9b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf31493bc52b6b0847a5811a3a50a282&auto=format&fit=crop&w=750&q=80" alt=""></div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="discount discount-right">
				<p>{{discount2}}{{percent}}</p>
			</div>
			<button class="btn btn-primary btn-book">{{btnText}}</button>
			<div class="img-card"><img src="https://images.unsplash.com/photo-1521702501873-1bf333e33724?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=21c6a4a8ce46bd6bf7b2e02e1d4491d6&auto=format&fit=crop&w=750&q=80	" alt=""></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 offset-lg-2">
			<div class="card">
				<div class="discount">
					<p>{{discount3}}{{percent}}</p>
				</div>
				<button class="btn btn-primary btn-book">{{btnText}}</button>
				<div class="img-card"><img src="https://images.unsplash.com/photo-1523287409476-a9e70a25af3f?ixlib=rb-0.3.5&s=baec44c4f9b6173bfb2effc6838e692a&auto=format&fit=crop&w=750&q=80" alt=""></div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="discount discount-right">
				<p>{{discount4}}{{percent}}</p>
			</div>
			<button class="btn btn-primary btn-book">{{btnText}}</button>
			<div class="img-card"><img src="https://images.unsplash.com/photo-1468465226960-8899e992537c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f038ec235cc2914fe605cd2095a19719&auto=format&fit=crop&w=753&q=80" alt=""></div>
		</div>
	</div>
</div>